* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

html {
    font-size: 62.5%;
    font-family: system-ui, -apple-system, sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

header {
    height: 50px;
    background-color: #1f2937;

    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

header li:first-child {
    margin-right: auto;
}

.header__logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header__link:link,
.header__link:visited {
    color: #f9faf8;
}

.header__link:hover,
.header__link:active {
    color: whitesmoke;
    text-decoration: underline;
}

.hero-section {
    height: 450px;
    background-color: #1f2937;

    display: flex;
    align-items: center;
}

.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 450px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    align-items: flex-start;
}

.hero__heading {
    font-size: 4.8rem;
    font-weight: 900;
    color: #f9faf8;
}

.hero__description {
    font-size: 1.8rem;
    color: #e5e7eb;
}

.hero__btn {
    font-size: 1.6rem;
    font-weight: bold;

    background-color: #3882f6;
    color: #f9faf8;

    padding: .6rem 2.2rem;

    border: none;
    border-radius: .6rem;

    cursor: pointer;
}

.hero__image img {
    width: 550px;
    height: auto;
}